<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movieflix-Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="//d170x0azrpb2m0.cloudfront.net/2.9.0/stylesheets/progress.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/UserHome.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="UserHome.html">
                 <img src="images/Logo.png"></a>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="TopRatedMovies.html">Top Rated Movies</a></li>
                <li><a href="TopRatedSeries.html">Top Rated TV Series</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" id="nav" data-toggle="dropdown" href="#">Categories
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Drama</a></li>
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">Thriller</a></li>
                    </ul>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="form-group has-feedback">
                    <form class="form-inline pull-xs-right">
                        <input class="form-control" type="text" placeholder="Titles, genres" />
                        <i class="glyphicon glyphicon-search form-control-feedback"></i>
                    </form>
                        </div>
                    </li>
                    <li><a href="UserAccount.html"><span class="glyphicon glyphicon-wrench"></span> My Account</a></li>
                    <li><a href="Homepage.html"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <h2 class="rowHeader">Popular now</h2>
        <div class="col-xs-6 col-md-3">
            <div class="grow">
            <div class="hovereffect">
            <div class="thumbnail">
                <img src="images/Thumbnails/avengers-age-of-ultron.jpg">
                <div class="overlay">
                    <h2>Avengers: Age of Ultron</h2>
                    <p>2015  <span class="glyphicons glyphicons-us-rat-pg-13" id="glyph"></span>141m</p>
                    <p>
                        Plot: When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's Mightiest Heroes to stop the villainous Ultron from enacting his terrible plans.
                    </p>
                </div>
            </div>
            </div>
            </div>
            </div>
                <div class="col-xs-6 col-md-3">
                    <div class="grow">
                    <div class="hovereffect">
            <div class="thumbnail">
                <img src="images/Thumbnails/the-dark-knight-rises.jpg">
                <div class="overlay">
                    <h2>The Dark Knight Rises</h2>
                    <p>2012  <span class="glyphicons glyphicons-us-rat-pg-13" id="glyph"></span>164m</p>
                    <p>
                        Plot:Eight years after the Joker's reign of anarchy, the Dark Knight, with the help of the enigmatic Selia, is forced from his imposed exile to save Gotham City, now on the edge of total annihilation, from the brutal guerrilla terrorist Bane.
                    </p>
                </div>
             </div>
           </div>
        </div>
    </div>
        <div class="col-xs-6 col-md-3">
            <div class="grow">
            <div class="hovereffect">
            <div class="thumbnail">
                <img src="images/Thumbnails/The-Martian-poster.jpg">
                <div class="overlay">
                    <h2>The Martian</h2>
                    <p>2015  <span class="glyphicons glyphicons-us-rat-pg-13" id="glyph"></span>144m</p>
                    <p>
                        Plot:During a manned mission to Mars, Astronaut Mark Watney is presumed dead after a fierce storm and left behind by his crew. But Watney has survived and finds himself stranded and alone on the hostile planet. With only meager supplies, he must draw upon his ingenuity, wit and spirit to subsist and find a way to signal to Earth that he is alive.
                    </p>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>
</body>
</html>