<div class="navbar navbar-inverse navbar-fixed-left">
    <a href="#user-list" role="tab" data-toggle="tab">
        <img src="images/Logo.png"></a>
    </a>
    <div class="form-group has-feedback">
        <form class="form-inline pull-xs-right">
            <input class="form-control" type="text" placeholder="Search"  ng-model="userListVm.searchText"/>
        </form>
    </div>
    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation"><a href="#/user-list" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-chevron-right"></span>User List </a></li>
        <li role="presentation"><a href="#/movie-list" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-chevron-right"></span>Movie/TV Series List </a></li>
        <li role="presentation"><a href="#add-movie" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-chevron-right"></span>Add Movie </a></li>
        <li role="presentation"><a href="#account" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-chevron-right"></span>My Account</a></li>
        <li role="presentation"><a href="#login" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-chevron-right"></span>Sign out</a></li>
    </ul>

</div>
<div class="account-wall">
<div class="row">
    <div class="col-sm-6">
        <h1>Movie Details</h1>
        <p><strong>Title</strong>: {{moviesVm.movies.title}}</p>
        <p><strong>Year</strong>: {{moviesVm.movies.year}}</p>
        <p><strong>Rated</strong>: {{moviesVm.movies.rated}}</p>
        <p><strong>Released</strong>: {{moviesVm.movies.released}}</p>
        <p><strong>Runtime</strong>: {{moviesVm.movies.runtime}}</p>
        <p><strong>Genre</strong>: {{moviesVm.movies.genre}}</p>
        <p><strong>Director</strong>: {{moviesVm.movies.director}}</p>
        <p><strong>Writer</strong>: {{moviesVm.movies.writer}}</p>
        <p><strong>Actors</strong>: {{moviesVm.movies.actors}}</p>
        <p><strong>Plot</strong>: {{moviesVm.movies.plot}}</p>
        <p><strong>Language</strong>: {{moviesVm.movies.language}}</p>
        <p><strong>Country</strong>: {{moviesVm.movies.country}}</p>
        <p><strong>Awards</strong>: {{moviesVm.movies.awards}}</p>
        <p><strong>imdbRating</strong>: {{moviesVm.movies.imdbRatings}}</p>
        <p><strong>imdbVotes</strong>: {{moviesVm.movies.imdbVotes}}</p>
        <p><strong>imdbID</strong>: {{moviesVm.movies.imdbID}}</p>
        <p><strong>Type</strong>: {{moviesVm.movies.type}}</p>
    </div>
    <div class="col-sm-6">
        <img class="img-responsive" ng-src="{{moviesVm.movies.poster}}">
    </div>
</div>
    </div>