.fa-television{
    font-size: 90px;
}
.fa-tablet{
    font-size: 60px;
}
.fa-mobile{
    font-size: 50px;
}
.fa-facebook{
    font-size: 30px;
    color: #3b5998;
}
.fa-twitter{
    font-size: 30px;
    color: #00aced;
}
.fa-instagram{
    font-size: 30px;
    color: #e95950;
}